<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu">
    <insert id="insertMenu">
        insert into Menu (rating, review, category)
        values (#{rating} , #{review}, #{category})
    </insert>
    <update id="updateMenu">
        update Menu
        set rating=#{rating}, review=#{review}, category=#{category}
        where seq=#{seq}
    </update>
    <delete id="deleteMenu">
        delete from Menu
        where seq=#{seq}
    </delete>
    <select id="getMenu" resultType="menu">
        select * from Menu
        where seq=#{seq}
    </select>
    <select id="getMenuList" resultType="menu">
        select * from Menu order by seq desc
    </select>
</mapper>